<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus id mollitia nisi modi? Reprehenderit, eveniet excepturi nobis repellendus numquam reiciendis ullam! Iste quod dignissimos veniam, maxime porro commodi suscipit nihil.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>